@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


.navText {
font-size: 20px;
font-family: 'Nunito', sans-serif;
font-weight: 900;
}
/* Initial transparent state */
.navbar-transparent {
    background-color: transparent !important;
    transition: background-color 0.5s ease;
  }
  
  /* White background on scroll */
  .navbar-white {
    background-color: white !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.blackButton {
    background-color: black;
}

.bgImg {
    height: auto;
    background-attachment: fixed;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Change background image for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .bgImg {
    background-image: url('imgs/buildingTwo.jpg');
  }
}

/* Change background image for screens with a minimum width of 769px */
@media (min-width: 769px) {
  .bgImg {
    background-image: url(imgs/buildingFour.jpg);
  }
}


@media (min-width: 992px) { 
  .himkorContainer {
    margin-top: 340px;
  }
 }


